body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

.container{
    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover{
    background-color: #0056b3;
}