body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #25232b;
    color: #949494;

}

form {
    background-color: #3f504d;
    border-radius: 8px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.titulo-pagina {
    text-align: center;

}

.titulo-pagina p {
    font-size: 0.8rem;

}

.titulo-pagina h1 {
    font-size: 1rem;

}

.campo-info-pessoais {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.box-input {
    display: flex;
    flex-direction: column;
    /* gap:0.5rem; */
}

.campo-stack {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 12px;

}

.campo-senioridade {
    margin-bottom: 12px;
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.container-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.container-botao button{
    width: 6rem;
    height: 2rem;
    background-color:  #0e1b18; 
    border: none;
    font-size: 1rem;
    color: antiquewhite;
    border-radius: 20px;
   transition-duration: 2s;
   transition: all;
   
}

button:hover{
    background-color: #223430;
}   
